# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# React/Node.js
node_modules/
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Database
*.sqlite3

# Environment variables
.env

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Temporary files
*.bak
*.tmp

# NPM
/node_modules/
/.package-lock.json